{% extends 'index.html' %}

{% block content %}

<h1>Products by  {{supplier.companyname}}</h1>

<div id="add-div"></div>
<br />

<button id="add-btn" class="btn btn-success" onclick="showaddform()">Add new Product</button>
<br />
<a href="/products/" class="btn btn-secondary">Back to all Products</a>
<br />

{% for p in products %}
<div id="list">
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <h3 class="card-title">{{p.productname}} </h3>
            <h5 class="card-text">Supplier: {{p.supplier.companyname}}</h5>
            <p class="card-text">packagesize: {{p.packagesize}} | unitprice: {{p.unitprice}}</p>
            <p class="card-text" style="color: green;">Units in stock: {{p.unitsinstock}}</p>

            <a href="/edit-product-get/{{p.id}}/" class="btn btn-primary">Edit</a>
            <a href="/confirm-delete-product/{{p.id}}/" class="btn btn-danger">Delete</a>
            

        </div>
    </div>


    {% empty %}

    <h2>Ei mitään täällä!</h2>
</div>
{%endfor%}

<script>

    let y = `
    <h2>Please fill in the form below:</h2>
    
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <form method="post" action="/add-product/">
                {%csrf_token %}
                <input class="card-text" class="card-text" type="text" placeholder="product name" name="productname">
                <input class="card-text" type="text" placeholder="package size" name="packagesize">
                <input class="card-text" type="text" placeholder="unitprice" name="unitprice">
                <input class="card-text" type="text" placeholder="units in stock or 0" name="unitsinstock">
                <br />
                <br />
                <label for="supplier">Select supplier:</label>                            
                <select id="supplier" name="supplier">
                {% for s in suppliers %}
                  <option value="{{s.id}}">{{s.companyname}}</option>
                  {% endfor %}
                </select>
                <br/>
                <br/>
                <input type="submit" value="Confirm" class="btn btn-success btn-sm" name="">
                <input type="submit" id="hide-btn" class="btn btn-secondary btn-sm" onclick="hideaddform()" value="Cancel" name="">
            </form>
        </div>
    </div>`

    function showaddform() {
        document.getElementById("add-div").innerHTML = y
        $("#add-btn").hide()
        $("#list").hide()
    }

    function hideaddform() {
        document.getElementById("add-div").innerHTML = ""
        $("#add-btn").show()
        $("#list").show()
    }

</script>

{% endblock %}